%main
  = render partial: "profile", locals: { profile: @profile }
  = render partial: "stats", locals: { profile: @profile }

  .main-container.outer-container
    %h3 DJs
    .thumb-grid
      - @profile.following("Profile").each do |follow|
        .thumb-grid__cell
          = follow.image
          %h3 Unfollow

    .thumb-grid
      %h3 DJs
      - @profile.following("Venue").each do |follow|
        .thumb-grid__cell
          = follow.image
          %h3 Unfollow
