%p#notice= notice

%main.main-container
  %header.outer-container
    %img{ src: @profile.image.url }
    %h4
      = @profile.name
    .social-media
      = render partial: "social", locals: { profile: @profile }
    .bio
      = @profile.bio
