# Ignore bundler config.
/.bundle

# Ignore .dotenv file
.env

# Ignore the default SQLite database.
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
!/log/.keep
/tmp

*.DS_Store
/lib/venue_html/
# Ignore application configuration
/config/application.yml
