.sidebar {
  @include span-columns(3);
  background-color: white;
  box-shadow: $card-shadow;
  padding: 1em;
}

.sidebar__list li a {
  @include transition(all 0.25s ease-out);
  border-top: 1px dotted $light-gray;
  display: block;
  font-size: 0.825em;
  padding: 1em 0;

  &:hover {
    color: white;
    background-color: black;
  }
}
