#{$all-button-inputs},
button,
.button {
  background-color: white;
  border: 1px solid $base-border-color;
  border-radius: 4px;
  color: $medium-gray;
  font-size: 1em;
  line-height: normal;
  padding: 0.5em 0.75em;
  text-align: center;

  &:hover {
    border: 1px solid $action-color;
    color: $action-color;
  }

  &:active {
  }
}

.button--expand {
  width: 100%;
}

input[type="submit"].button--primary,
.button--primary {
  @include appearance(none);
  -webkit-font-smoothing: antialiased;
  background-color: $action-color;
  border-radius: $base-border-radius;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: darken($action-color, 15%);
    color: #fff;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}
