// Typography
$base-font-family: "din-2014", $helvetica;
$heading-font-family: "din-2014", $helvetica;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #2da1c7;
$dark-gray: #222;
$medium-gray: #999;
$light-gray: #f3f3f3;
$background-gray: #f7f7f7;
$subtle-gray: #e1e1e1;
$warning: #DC302C;
$base-background-color: #fff;

// Font Colors
$action-color: $blue;
$base-font-color: $dark-gray;
$secondary-font-color: $medium-gray;
$header-nav-color: $medium-gray;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;
$base-border-warning: 1px solid darken($warning, 5%);
$base-border-radius: 3px;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Shadows
$card-shadow: -1px 0 2px 0 rgba(0,0,0,0.05),
              1px 0 2px 0 rgba(0,0,0,0.05),
              0 1px 1px 0 rgba(0,0,0,0.05);
