%main.main-container
  .outer-container
    .event-list__intro
      %span Here's what's going on
      %select
        %option{value: "tonight"} Tonight
        %option{value: "tonight"}
        %option{value: "tonight"}
        %option{value: "tonight"}
        %option{value: "tonight"}
        %option{value: "tonight"}
        %option{value: "tonight"}
      %span :
      %ul.sidebar__list
        - days_list.each do |day|
          %li
            = link_to day.strftime("%A"), find_by: day
    %section
      - if @events.length > 0
        - @events.each do |event|
          = render partial: "event", locals: { event: event }
      - else
        %h1
          No events today :(
