%main.outer-container.main-container
  %section.sidebar
    %h3
      Days
    %ul.sidebar__list
      - days_list.each do |day|
        %li
          %a
            = link_to day, find_by: "today"
      %li
        %a
          = link_to "Parties Tonight", find_by: "today"
      %li
        %a
          = link_to "Parties Tomorrow", find_by: "tomorrow"
      %li
        %a
          Wednesday
  %section
    %header
      %h1 Events

    %section
      - @events.each do |event|
        = render partial: "event", locals: { event: event }
