%main.outer-container.main-container
  %header
    %h1 Events

  %section.flyer-grid
    .flyer-gutter
    .flyer-grid__sizer
    - @events.each do |event|
      = render partial: "event", locals: { event: event }
