%main.outer-container.main-container
  %section.sidebar
    %h3
      Days
    %ul.sidebar__list
      %li
        %a
          Monday
      %li
        %a
          Tuesday
      %li
        %a
          Wednesday
  %section
    %header
      %h1 Events

    %section
      - @events.each do |event|
        = render partial: "event", locals: { event: event }
