%main.main-container
  .outer-container
    .event-list__intro
      %span Here's what's going on
      %select#daySelector
        = options_for_select(days_list, params[:find_by])
    %section
      - if @events.length > 0
        - @events.each do |event|
          = render partial: "event", locals: { event: event }
      - else
        %h1
          No events today :(
