%main.outer-container.main-container
  %header
    %h1 Events

  %section.outer-container{ data: { js: "isotope-grid" } }
    .js-isotope__gutter-size
    .js-isotope__column-size
    - @events.each do |event|
      = render partial: "event", locals: { event: event }
