%main
  = render partial: "profiles/profile", locals: { profile: @profile }
  = render partial: "profiles/stats", locals: { profile: @profile }

  .main-container.outer-container
    %h3
      Upcoming events for #{ @profile.name }
    - @profile.events.each do |event|
      = render partial: "events/event", locals: { event: event }
