.button {
  background-color: white;
  border: 1px solid $base-border-color;
  border-radius: 4px;
  color: $medium-gray;
  font-size: 1em;
  padding: 0.5em 0.75em;
  text-align: center;
  text-transform: uppercase;

  &:hover {
    border: 1px solid $action-color;
    color: $action-color;
  }

  &:active {
  }
}
