.main-container {
  padding-top: 3em;
}

.outer-container {
  @include outer-container;
}

.form-container {
  @include span-columns(12);
  @include shift(0);
  border: $base-border;
  margin-bottom: 5em;

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}
