.main-container {
  background-color: white;
  padding-top: 1.5em;
}

.outer-container {
  @include outer-container;
}

.form-container {
  @include span-columns(12);
  @include shift(0);
  border: $base-border;
  margin-bottom: 2em;

  @include media($medium-screen) {
    @include span-columns(8);
    @include shift(2);
  }
}

.full-width-container {
  margin: 0 auto;
  width: 100%;
}

.full-width-container--dark {
  @extend .full-width-container;
  background-image: url("header_bg.png");
  background-color: #5f2099;
}

.form-container--login {
  @extend .form-container;
  margin-top: 2em;

  @include media($medium-screen) {
    @include span-columns(6);
    @include shift(3);
  }
}
