.event {
  background-color: white;
  //border-bottom: 1px $light-gray solid;
  margin-bottom: 1em;
}

.event__edit-options {
  clear: both;
}

.event__header {
  margin-bottom: 1em;

  h1 {
    font-weight: 300;
  }
}

.event__header__like {
  @include span-columns(1 of 9);
  color: $light-gray;
  font-size: 1.5em;
  float: right;
  text-align: right;
}

.event__header__title {
  @include span-columns(8 of 9);
  font-size: 2em;
  font-weight: 300;
  margin-bottom: 1.25rem;

  a {
    color: #2f63b7;
    display: inline-block;
    border-bottom: #D6E5F9 3px solid;
    padding-bottom: 0.5rem;
  }

  a:hover {
    border-bottom: #698CB7 3px solid;
  }
}

.event__image {
  @include span-columns(3);
  background-color: gray;

  img {
    display: block;
  }
}

.event__image {
  @include span-columns(4);
  background-color: gray;

  img {
    display: block;
  }
}

.event__info {
  @include span-columns(12);
  padding: 0 2em 2em 0;
}

.event__image + .event__info {
  @include span-columns(8);
  @include omega();
  padding: 2em;
}

.event__info__date,
.event__info__time {
  color: gray;
  float: left;
}

.event__info__time {
  margin-left: 1em;
}

.event__info__link {
  clear: both;
  margin-top: 1.5em;
}

.event__info__venue-name {
  clear: both;
}
