.event {
  @include outer-container;
  background-color: white;
  border-bottom: 1px $light-gray solid;
  margin-bottom: 1em;
}

.event__actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
  width: 100%;
}

.event__actions__element {
  padding: 0 0.25em;
  width: 100%;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }
}

.event__djs {
  margin-bottom: 1em;

  ul {
    margin: 0;
    padding: 0;
  }

  ul li {
    font-size: 1.25rem;
    font-weight: 600;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
  }

  ul li a {
    color: #222;
  }
}

.event__edit-options {
  clear: both;
}

.event__header {
  position: relative;
  margin-bottom: 1rem;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -50px;
    background-color: transparent;
    border-top: 25px solid transparent;
    border-right: 25px solid white;
    border-bottom: 25px solid transparent;
  }
}

.event__header__title {
  margin-bottom: 0rem;

  a {
    color: $base-font-color;
    display: inline-block;
  }

  a:hover {
  }

}

.event__image {
  @include span-columns(12);
  background-color: gray;

  @include media($medium-screen) {
    @include span-columns(4);
  }

}

.event__image img {
  display: block;
}

.event__info {
  @include span-columns(12);

  @include media($medium-screen) {
    @include span-columns(8);
    margin-top: 2rem;
    @include omega();
  }
}

.event__info__detail {
  color: $medium-gray;
  font-size: 0.825;
  float: left;
  margin-left: 1em;

  &:first-child {
    margin-left: 0;
  }
}

.event__info__link {
  clear: both;
  margin-top: 1.5em;
}

.event__info__venue-name {
  clear: both;

  a {
    color: $medium-gray;
  }
}
