.navigation {
  @include row();
  background-color: #161b2d;
  border-bottom: 1px $light-gray solid;
  border-top: 1px $light-gray solid;
  position: relative;
}

.navigation__frame {
  @include outer-container();
}

.navigation__left {
  float: left;
  height: 100%;
  margin-left: 1rem;
}

.navigation__item {
  display: block;
  float: left;
  height: 100%;
  padding: 20px 1em 0 1em;
}

.navigation__link {
  transition: border 0.2s ease-out;
  border-bottom: transparent 3px solid;
  color: white;
  display: block;
  font-size: 0.875;
  font-weight: 600;
  height: 100%;
  line-height: 1;
  padding-bottom: 9px;

  .navigation__left & {
    text-transform: uppercase;
  }

  &:visited,
  &:hover,
  &:active {
    border-bottom: blue 3px solid;
    color: white;
    padding-bottom: 5px;
  }
}

.navigation__right {
  float: right;
}
