.navigation {
  @include row();
  background-color: white;
  border-bottom: 1px $light-gray solid;
  border-top: 1px $light-gray solid;
  position: relative;
  text-transform: uppercase;
}

.navigation__frame {
  @include outer-container();
}

.navigation__left {
  float: left;
}

.navigation__item {
  border-right: 1px $light-gray solid;
  display: block;
  float: left;
}

.navigation__link {
  background-color: white;
  color: $medium-gray;
  display: block;
  font-weight: 700;
  padding: 1em;

  &:hover {
    background-color: lighten($light-gray, 5%);
  }
}

.navigation__right {
  border-left: 1px $light-gray solid;
  float: right;
}
