.profile {
  @include outer-container();
  color: white;
  padding: 2em 0;
  position: relative;
}

.profile__header {
  display: inline;
  line-height: 1.2;
  vertical-align: middle;
}

.profile__image {
  @include span-columns(3);
}

.profile__info {
  @include span-columns(7);
}

.profile__links {
  vertical-align: middle;
  display: inline-block;
}

.profile__stat__row {
  background-color: #2A0843;
  border-bottom: 2px solid darken(#2A0843, 10%);
  border-top: 1px solid darken(#2A0843, 10%);
  padding: 1em 0;
}

.profile__stat {
  @include span_columns(3);
  color: white;

  h5 {
    font-weight: normal;
    opacity: 0.5;
  }

  h5, h3 {
    margin: 0;
  }
}
