.profile {
  @include outer-container();
  color: white;
  padding: 2em 0;
  position: relative;
}

.profile__header {
  display: inline;
  line-height: 1.2;
  vertical-align: middle;
}

.profile__image {
  @include span-columns(3);
}

.profile__info {
  @include span-columns(7);
}

.profile__links {
  vertical-align: middle;
  display: inline-block;
}

.profile__stat__row {
  background-color: #2A0843;
  border-bottom: 2px solid darken(#2A0843, 10%);
  border-top: 1px solid darken(#2A0843, 10%);
  padding: 1em 0;
}

.profile__stat {
  @include span_columns(3);
  @include transition(all 0.2s ease-out);
  color: #ffffff;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid transparent;

  a {
    color: #ffffff;
  }

  h5 {
    font-weight: normal;
    opacity: 0.5;
  }

  h5, h3 {
    margin: 0;
  }
}

.profile__stat--link {
  @include span_columns(3);
  @include transition(all 0.2s ease-out);
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid transparent;

  &:hover {
    background-color: #ff4453;
    box-shadow: 0 0 20px #ff4453;
    border: 1px solid rgba(255,255,255,0.3);
    padding: 0.75rem;
  }

  a {
    color: #ffffff;
  }

  h5 {
    font-weight: normal;
    opacity: 0.5;
  }

  h5, h3 {
    margin: 0;
  }
}

.profile__stat--active {
  @include span_columns(3);
  background-color: #ff4453;
  border-radius: 8px;
  border: 1px solid rgba(255,255,255,0.3);
  box-shadow: 0 0 20px #ff4453;
  padding: 0.75rem;
  padding: 0.75rem;

  a {
    color: #ffffff;
  }

  h5 {
    font-weight: normal;
    opacity: 0.5;
  }

  h5, h3 {
    margin: 0;
  }
}
